<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class=" page<%= page.current? ? " current bg-primary border-primary text-white relative inline-flex items-center px-4 py-2 border text-sm font-medium" : "bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium hover:cursor-pointer" %> ">
  <%= link_to_unless page.current?, page, url, { remote: remote, rel: page.rel, class: "" } %>
</span>
