<% content_for :title, "New product variant" %>

<h1>New product variant</h1>

<%= render "form", product_variant: @product_variant %>

<br>

<div>
  <%= link_to "Back to product variants", product_product_variants_path %>
</div>
